.footer {
    @apply py-8 md:pb-4 bg-[#020410];
    .inner-container {
        @apply container flex flex-col items-center border-b border-b-[#353640];
        .logo {
            @apply mb-14 md:mb-9;
        }
        .description {
            @apply ltr:font-light leading-normal mb-14 md:mb-5 text-[#E6E6E8] text-center max-w-[1008px];
        }
        .icons {
            @apply flex items-center gap-6 mb-14 md:mb-12;
            .icon {
                @apply w-10 h-10 flex items-center justify-center bg-[#1A1C27] rounded-lg;
            }
        }
    }
    .copy-right {
        @apply flex items-center pt-4 font-enSans text-white text-[12px] leading-4 justify-center;
        direction: ltr !important;
        span {
            @apply font-light ms-1
        }
    }
}