.header {
    @apply bg-[#020410] pt-4 lg:pt-8 pb-6 lg:pb-4;
    .inner-container {
        @apply container flex items-center justify-between py-2;
        .logo-image {
            @apply w-[126px] h-auto;
        }

        .locale-link {
            @apply text-white text-[14px] leading-[18px]
        }
    }
}