.input-container {
    @apply mb-10;
    label {
        @apply mb-1 text-[#818288] leading-6 block rtl:font-bold;
    }
    input, textarea {
        @apply w-full text-[20px] leading-8 py-2 border-b outline-none transition focus:border-black;
    }
    .information-container {
        @apply mt-2 flex gap-1;
        svg {
            @apply flex-shrink-0 mt-0.5 md:mt-0;
        }
        p {
            @apply text-[12px] ltr:font-light text-[#818288] leading-4 md:whitespace-nowrap;
        }
    }
}