.about-section {
    @apply mt-24 lg:mt-0 relative lg:h-screen flex items-center;
    .inner-container {
        @apply container;
        .text-container {
            @apply lg:w-2/3 rtl:ms-auto relative z-10 mb-5 lg:mb-0;
            .title {
                @apply mb-4 lg:mb-5 text-[32px] ltr:font-medium leading-[44px] lg:text-[56px] lg:leading-[68px] text-[#020410];
            }
    
            .description {
                @apply text-[#4E5058] text-[20px] rtl:text-[24px] mb-4 leading-8 tracking-[-1.5px] text-justify lg:tracking-normal
            }
    
            .caption {
                @apply text-[#4E5058] text-[20px] rtl:text-[24px] ltr:font-light leading-8 tracking-[-0.6px] lg:tracking-normal text-justify
            }
        }

        .about-img {
            @apply lg:absolute top-1/2 lg:-translate-y-1/2 right-0 w-[300px] h-auto block ltr:ms-auto -me-4 rtl:me-auto rtl:-ms-4 lg:w-auto lg:me-0;
        }
    }
}