.contact-us-section {
    .inner-container {
        @apply container;
        .form-container {
            @apply pt-40 pb-24 lg:pb-36;
            .title {
                @apply text-[#020410] text-[32px] lg:text-[56px] ltr:font-medium leading-[44px] lg:leading-[68px] mb-6 lg:mb-24;
            }
            form {
                @apply md:w-3/4 flex flex-wrap justify-between;
                .name-input, .phone-input {
                    @apply w-full md:w-5/12;
                }
                .email-input, .message-input {
                    @apply w-full
                }
                .submit-container {
                    @apply w-full mt-4 md:mt-16;
                }
            }
        }
    }
}