.intro-section {
    @apply bg-[#020410];
    .inner-container {
        @apply container text-center border-t border-t-[#353640] pt-12 lg:pt-[84px] pb-16 lg:pb-28;
        .title {
            @apply max-w-[1067px] text-[#F2F2F3] text-[56px] leading-[62px] lg:text-[100px] lg:leading-[120px] text-center mb-10 lg:mb-12;
    
            span {
                @apply ltr:font-extrabold rtl:font-bold bg-clip-text;
                background: linear-gradient(104deg, #102260 0%, #C0CDFA 80.79%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    
        .description {
            @apply text-[18px] leading-[26px] text-white mb-7 lg:mb-20 max-w-[754px] rtl:max-w-[572px] mx-auto;
        }
    }

    // .image-container {
    //     @apply relative;

    //     &::before {
    //         @apply absolute bottom-0 right-0 bg-white w-full h-[138px] md:h-1/2;
    //         content: '';
    //     }

    //     .image-inner-container {
    //         @apply container;
    //         img {
    //             @apply w-full h-[584px] md:h-auto object-cover relative z-10;
    //         }
    //     }
    // }
    .image-container {
        @apply relative;
        &::before {
            @apply absolute bottom-0 right-0 bg-white w-full h-[138px] md:h-1/2;
            content: '';
        }

        .image-inner-container {
            @apply container relative overflow-hidden h-[600px];

            img {
                @apply w-full h-[584px] object-cover bottom-0 left-0 z-10;
                height: 160% !important;
            }
        }
    }
}