.services-container {
    @apply bg-[#020410] pt-12 lg:pt-28;
    .inner-container {
        @apply container text-white;
        .heading {
            @apply text-center mb-14;
            .title {
                @apply text-[32px] ltr:font-medium leading-[44px] mb-4 lg:text-[56px] lg:leading-[68px] rtl:text-[56px] rtl:text-[#F2F2F3];
            }
            .description {
                @apply text-[#E6E6E8] ltr:max-w-[627px] rtl:max-w-[489px] mx-auto;
            }
        }
    }
}