.service-item {
    @apply lg:flex items-center pb-10 lg:pb-0 lg:min-h-screen;
    .text-container {
        @apply lg:w-5/12 mb-16 lg:mb-0;
        .title {
            @apply text-center lg:text-start mb-3 lg:mb-0 text-[#7184C7] text-[32px] font-bold leading-[44px];
        }
        .caption {
            @apply text-center lg:text-start mb-6 lg:mb-2.5 text-[#D4DDFF] text-[24px] font-medium leading-[32px];
        }
        .description {
            @apply text-center lg:text-start text-[#E6E6E8] text-[20px] leading-8
        }
    }
    .image {
        @apply w-full lg:w-7/12 h-auto;
    }
}