.whatWeDo-section {
    @apply flex lg:items-center justify-center mb-8 lg:m-12 py-10 min-h-screen overflow-hidden;
    .inner-container {
        @apply container flex lg:items-center justify-between rtl:flex-row-reverse gap-20;
        .image-container {
            @apply w-4/12 hidden lg:flex;
            aspect-ratio: 9 / 16;
        }
        .text-container {
            @apply lg:w-7/12;
            .title {
                @apply text-[#020410] text-[32px] ltr:font-medium leading-[44px] rtl:text-[28px] lg:text-[56px] lg:leading-[68px] rtl:lg:text-[48px] mb-7 lg:mb-14
            }
            .description {
                @apply text-[#4E5058] text-[18px] leading-6 mb-6 lg:mb-11;
            }
            .steps-container {
                @apply pt-20 overflow-hidden relative max-h-[400px];
                .step {
                    @apply pb-10 cursor-default;
                    .step-counter {
                        @apply text-[32px] font-enSans font-medium  text-[#CCCDCF] leading-[44px] mb-2;
                    }
                    .step-txt {
                        p {
                            @apply inline text-[18px] leading-6 text-[#CCCDCF] transition-all;
                        }
                        span {
                            @apply text-[#CCCDCF] transition-all;
                        }
                    }
                    .step-counter {
                        @apply text-[#7184C7]
                    }
                    .step-txt {
                        p {
                            @apply text-[#4E5058];
                        }
                        span {
                            @apply text-[#7184C7];
                        }
                    }
                }
                &::after, &::before {
                    @apply absolute w-full block left-0 z-10;
                    content: '';
                    height: 100px;
                }
                &::after {
                    @apply top-0;
                    background: linear-gradient(180deg,#fff 25%,hsla(0,0%,100%,0))
                }
                &::before {
                    @apply bottom-0;
                    background: linear-gradient(0deg,#fff 25%,hsla(0,0%,100%,0))
                }
            }
        }
    }
}